.WeatherForecast {
  text-align: center;
}

.WeatherForecast h2 {
  font-size: 20px;
  text-align: left;
}

.WeatherForecast-temperatures {
  font-size: 14px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}
