.Weather {
  border: 1px solid #dadde1;
  border-radius: 8px;
  color: rgb(135, 135, 135);
  padding: 16px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .weather-details-display {
  margin-top: 20px;
}

.Weather img {
  display: inline-block;
  height: 72px;
  margin-right: 5px;
  width: 72px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  vertical-align: middle;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-left: 5px;
  position: relative;
  top: -15px;
}
